html {
  margin: 0px;
  height: auto;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #e8cfff;
  color: #003333;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0px;
  height: auto;

}

/* Top navigation bar */
/* .logo a:visited { */
  /* overflow: hidden;
  background-color: rgb(201, 253, 255);
  border-radius: 5px; 
  position: sticky; 
  top: 0;
  font-size: 16px;
  text-align: left;
  padding: 20px; */
  /* text-shadow: -1px 0 #00bbcb, 0 1px #00bbcb, 1px 0 #00bbcb, 0 -1px #00bbcb;
  color:white
} */

.logo {
  margin: 20px auto auto 20px;
  float: left;
  text-align: left;
}

.navbar {
  overflow: hidden;
  background-color: rgb(201, 253, 255);
  border-radius: 5px; 
  padding: 15px;
  width: 100vw;
  position: sticky; 
  top: 0
}

.navlinks a {
  float: right;
  font-size: 16px;
  color: #003333;
  padding: 20px;
  text-decoration: none;
  
}

.navlinks a:hover {
  background-color: hsl(54, 91%, 83%);
}
.navbar a:visited {
  color: none;
}
.navlinks a:active {
  background-color: hsl(54, 91%, 83%);
} 

.content {
  padding: 16px;
}


.sticky {
  position: sticky;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.home{
  width: 100%;
margin-bottom: 50px;
}

.flex-container {
  display: flex;
  justify-content: center;
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: auto;
  margin: 5px;
  text-align: center;
  /* line-height: 75px; */
  font-size: 16px;
}


h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2em;
  text-shadow: 3px 3px 3px #ababab;
}

h4 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  text-shadow: 3px 3px 3px #ababab;
}

/* a:link {
  text-decoration: none;

} */

/* a:visited {
  text-decoration: none;
} */

/* a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: plum;
} */

li {
  list-style: none
}



/* FORM STYLING */

input, textarea, select {
  width: 60%;
  padding: 10px;
  font-size: 14px;
  font-family: 'Ubuntu', sans-serif;
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(226, 226, 226);
}
.container {
  display: flex;
  flex-direction: row;
}

.form-container {
  order: 3;
  flex-grow: 3;
}

.spacing {
  height: 50px;
  width: auto;
}

.custom-emoji-form{
  width: 80%;
  padding: 10px 10px;
  margin: 50px auto;
  background: #f4f4f4;
  border-radius:5px;
  /* position: center; */
  /* text-align: center;
  align-items: center;
  align-content: center; */
}

.radios-wrapper{
  display:inherit;
  flex-wrap: wrap;
  align-items: stretch;
  border-radius: 50%;
}
/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
  border-radius: 50%;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 2px solid #f00;
  border-radius: 50%;

}

.btn{
  background: #ffffff;
  text-align: center;
  align-items: center;
  padding: 5px;
  /* display:inline-block; */
  margin: 5px;
  flex-basis:5%;
  font-size:30px;
  line-height:30px;
  border-radius: 100%;

}
.btn a:hover{
    background-color: hsl(54, 91%, 83%);
  }

.btn a:checked{
    background: #e1f1ef;
    outline: 2px solid #0000c7;
  }
  



input.btn-check:focus + .btn{
    box-shadow: 0 0 0 0.25rem rgb(131 197 190 / 75%);

}
input.btn-check:checked + .btn{
    background: #e1f1ef;
    outline: 2px solid #00bbcb;
    border-radius: 100%;
}

.submit {
background: #ffffff;
text-align: center;
align-items: center;
padding: 2px;
display:inline-block;
margin: 2px;
flex-basis:5%;
font-size:16px;
/* line-height:10px; */
}

/* DIARY DISPLAY */

.entry-request {
  background-color: rgba(218, 128, 248, 0.891);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.entry-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 10px;
  margin: 2px;

}

.flex-children-entry {
  background-color: rgb(236, 236, 236);
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
  width: 95%;
}

/* .entry h2 {
  margin: 10px 0px 0px 0px;
  margin: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 10px;
} */

.entry {
  /* min-width: 75%; */
  margin-left: 15%;
  margin-right: 15%;
  min-height: 1100px;
}

.entry h1 {
  background-color: white;
  padding-bottom: 20px;
 
}

.entry button {
  height: 20px;
  border-radius:5px;
  /* display:flex; */
  align-items:center;
  justify-content:center;
  text-transform:uppercase;
  font-size:10px;
  color: gray;
  border-color: gray;
}

.footer {
  flex-shrink: 0;
  background-color: rgb(201, 253, 255);
  border-radius: 5px; 
  padding: 5px;
  width: 100vw;
  height: auto;
}

/* RAINBOW BUTTON */


.rainbow-button {
  /* width:calc(20vw + 2px); */
  /* height:calc(8vw + 2px); */
  height: 32px;
  background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
  border-radius:5px;
  /* display:flex; */
  align-items:center;
  justify-content:center;
  text-transform:uppercase;
  font-size:16px;
  color: white;
  border-color: white;
}
.rainbow-button:after {
  /* content:attr(alt); */
  width:auto;
  /* height:8vw; */
  /* background-color:#191919; */
  /* display:inline; */
  align-items:center;
  justify-content:center;
}
.rainbow-button:hover {
  animation:slidebg 4s linear infinite;
}

@keyframes slidebg {
  to {
    background-position:20vw;
  }
}